@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --animate-meteor: meteor 5s linear infinite;
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
    }
  70% {
    opacity: 1;
    }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9809 0.0025 228.7836);
  --foreground: oklch(0.4091 0.0226 200.5214);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.4091 0.0226 200.5214);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4091 0.0226 200.5214);
  --primary: oklch(0.6674 0.0445 230.6319);
  --primary-foreground: oklch(0.9809 0.0025 228.7836);
  --secondary: oklch(0.9169 0.0162 226.9814);
  --secondary-foreground: oklch(0.4091 0.0226 200.5214);
  --muted: oklch(0.9022 0.0086 225.0905);
  --muted-foreground: oklch(0.5739 0.0249 207.0446);
  --accent: oklch(0.8952 0.0504 146.0366);
  --accent-foreground: oklch(0.3382 0.0565 316.3947);
  --destructive: oklch(0.5386 0.1937 26.7249);
  --destructive-foreground: oklch(0.9809 0.0025 228.7836);
  --border: oklch(0.8630 0.0138 226.5857);
  --input: oklch(0.9424 0.0076 228.8562);
  --ring: oklch(0.6674 0.0445 230.6319);
  --chart-1: oklch(0.6674 0.0445 230.6319);
  --chart-2: oklch(0.5752 0.1446 144.1813);
  --chart-3: oklch(0.7359 0.1006 134.9926);
  --chart-4: oklch(0.5752 0.1446 144.1813);
  --chart-5: oklch(0.8635 0.0774 167.5573);
  --sidebar: oklch(0.9617 0.0051 228.8188);
  --sidebar-foreground: oklch(0.4091 0.0226 200.5214);
  --sidebar-primary: oklch(0.6674 0.0445 230.6319);
  --sidebar-primary-foreground: oklch(0.9809 0.0025 228.7836);
  --sidebar-accent: oklch(0.8952 0.0504 146.0366);
  --sidebar-accent-foreground: oklch(0.3382 0.0565 316.3947);
  --sidebar-border: oklch(0.8860 0.0119 231.6713);
  --sidebar-ring: oklch(0.6674 0.0445 230.6319);
  --input-width: 200px;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.06;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-offset-x: 1px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
  --tracking-normal: 0em;
  --sheet-max-height: 500px;
}

.dark {
  --background: oklch(0.2399 0.0134 212.7466);
  --foreground: oklch(0.9328 0.0165 211.0403);
  --card: oklch(0.2866 0.0184 213.4299);
  --card-foreground: oklch(0.9328 0.0165 211.0403);
  --popover: oklch(0.2866 0.0184 213.4299);
  --popover-foreground: oklch(0.9328 0.0165 211.0403);
  --primary: oklch(0.7561 0.0452 235.6322);
  --primary-foreground: oklch(0.2399 0.0134 212.7466);
  --secondary: oklch(0.5055 0.0285 219.1705);
  --secondary-foreground: oklch(0.9328 0.0165 211.0403);
  --muted: oklch(0.3068 0.0191 218.6615);
  --muted-foreground: oklch(0.7200 0.0171 227.0676);
  --accent: oklch(0.3291 0.0194 251.4735);
  --accent-foreground: oklch(0.9423 0.0097 72.6595);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.2399 0.0134 212.7466);
  --border: oklch(0.3438 0.0219 214.7554);
  --input: oklch(0.3669 0.0272 210.6533);
  --ring: oklch(0.7561 0.0452 235.6322);
  --chart-1: oklch(0.7561 0.0452 235.6322);
  --chart-2: oklch(0.7185 0.1417 144.8887);
  --chart-3: oklch(0.7359 0.1006 134.9926);
  --chart-4: oklch(0.6291 0.1543 144.2031);
  --chart-5: oklch(0.8635 0.0774 167.5573);
  --sidebar: oklch(0.2228 0.0136 212.7948);
  --sidebar-foreground: oklch(0.9328 0.0165 211.0403);
  --sidebar-primary: oklch(0.7561 0.0452 235.6322);
  --sidebar-primary-foreground: oklch(0.2399 0.0134 212.7466);
  --sidebar-accent: oklch(0.3291 0.0194 251.4735);
  --sidebar-accent-foreground: oklch(0.9423 0.0097 72.6595);
  --sidebar-border: oklch(0.3240 0.0216 210.3664);
  --sidebar-ring: oklch(0.7561 0.0452 235.6322);
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.06;
  --shadow-blur: 5px;
  --shadow-spread: 1px;
  --shadow-offset-x: 1px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-xs: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.03);
  --shadow-sm: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 1px 2px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-md: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 2px 4px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-lg: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 4px 6px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.06), 1px 8px 10px 0px hsl(0 0% 10.1961% / 0.06);
  --shadow-2xl: 1px 2px 5px 1px hsl(0 0% 10.1961% / 0.15);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
